body { 
    /* padding: 50px; */
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: rgb(255, 248, 248);
     background: rgb(255, 253, 253);
     background: url(https://www.shutterstock.com/image-vector/blood-drop-icon-vector-illustration-600nw-642751702.jpg);
     /* background-color: rgb(172, 129, 129); */
     background-position: center;
     background-size:contain;
     background-repeat: no-repeat;

  }
  
  a {
    /* color: #00B7FF; */
  }
  .reg-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ff7733;
  font-size: 18px;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  border: 1px solid #ff7733;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  background-color: #ffffff;
}

.reg-btn::before {
  content: "";
  display: block;
  font-size: 11px;
  width: 60px;
  text-align: center;
  /* background-color: #f00; */
  color: #fff;
  padding: 7px 0 3px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-34%, -4px) rotate(-35deg);
  transition: .3s;
}

.reg-btn:hover {
  color: #fff;
  background-color: #ff7733;;
}

.reg-btn:hover::before {
  /* background-color: #fff; */
  color: #ff7733;
}

.reg-btn:hover::after {
  background-color:#ff7733;
  color:#fff;
}
  

  .center {
    margin: auto;
    height: fit-content;
    width: fit-content;
    text-align: center;
    margin-top: 10px;
    
  }
   .content{
   
    padding: 30px;
    /* background: red; */
  
  }
   .content p {
    /* background: red; */
    font-size: 30px;
  }
  
  .center a{
    display: inline-block;
    margin-top: 10px;
  }
  
  @media screen and (max-width:860px) {
    .content{
   
      padding: 5px;
      padding: 0px;
    
    }
    .center{
      text-align: justify;
      
    }
  
    
  } 